* {
    margin: 0;
    padding: 0;
    list-style: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: "微软雅黑", "Microsoft YaHei";
    color: #fff;
}
.clearfix:after {
    content: ' ';
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: #a39de7;
    overflow-x: hidden;
}
img {
    vertical-align: top;
}

.module-bg {
    z-index: 0;
}
.module-bg img {
    width: 100%;
    vertical-align: top;
}

.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.module-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    /*display: none;*/
}
.module-loading .line {
    position: absolute;
    left: 84px;
    top: 474px;
    background: url(../img/loading2.png) no-repeat left top transparent;
    height: 175px;
    width: 484px;
}
.module-loading .moon {
    position: absolute;
    width: 68px;
    height: 68px;
    background: url(../img/moons.png) no-repeat left top transparent;
    opacity: 0.2;
}
.module-loading .moon-1 {
    left: 47px;
    top: 600px;
    background-position: 0px 0px;
    opacity: 1;
}
.module-loading .moon-2 {
    left: 132px;
    top: 484px;
    background-position: -68px 0px;
}
.module-loading .moon-3 {
    left: 292px;
    top: 440px;
    background-position: -136px 0px;
}
.module-loading .moon-4 {
    left: 456px;
    top: 484px;
    background-position: -204px 0px;
}
.module-loading .moon-5 {
    left: 540px;
    top: 600px;
    background-position: -272px 0px;
}
.module-loading .wrapper-percent {
    left: 274px;
    top: 640px;
    font-size: 48px;
    display: block;
    position: absolute;
}
.module-loading .character {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../img/character.png) no-repeat center center transparent;
}
.module-loading .wrapper-svg {
    position: absolute;
    left: 47px;
    top: 0;
}
.module-loading.animate .moon-2 {
    -webkit-animation: moonShow 0.2s linear 2s 1 forwards;
    animation: moonShow 0.2s linear 2s 1 forwards;
}
.module-loading.animate .moon-3 {
    -webkit-animation: moonShow 0.2s linear 4s 1 forwards;
    animation: moonShow 0.2s linear 4s 1 forwards;
}
.module-loading.animate .moon-4 {
    -webkit-animation: moonShow 0.2s linear 7.5s 1 forwards;
    animation: moonShow 0.2s linear 7.5s 1 forwards;
}
.module-loading.animate .moon-5 {
    -webkit-animation: moonShow 0.2s linear 10s 1 forwards;
    animation: moonShow 0.2s linear 10s 1 forwards;
}
@-webkit-keyframes moonShow {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moonShow {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}





.module-guide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.module-guide.show {
    display: block;
}
.module-guide .bg {
    width: 100%;
    height: 1137px;
    background: url(../img/bg-guide.png) no-repeat center 138px transparent;
}
.module-guide .text {
    position: absolute;
}
.module-guide .text-yong {
    left: 62px;
    top: 85px;
}
.module-guide .text-bao {
    left: 202px;
    top: 190px;
}
.module-guide .text-ba {
    left: 110px;
    top: 340px;
}
.module-guide .text-tuanyuan {
    left: 282px;
    top: 428px;
    opacity: 0;
}

.module-guide.show .text-yong {
    -webkit-animation: animate-yong 1s linear 0s 1 forwards,
        swing-yong 0.5s linear 1s infinite alternate none;
    animation: animate-yong 1s linear 0s 1 forwards,
        swing-yong 0.5s linear 1s infinite alternate none;
}
@-webkit-keyframes animate-yong {
    0% {
        transform: scale(0.2, 0.2);
        -webkit-transform: scale(0.2, 0.2);
        opacity: 0.1;
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}
@-webkit-keyframes swing-yong {
    0% {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0, 0px);
    }
    100% {
        transform: translate(10px, 10px);
        -webkit-transform: translate(10px, 10px);
    }
}
.module-guide.show .text-bao {
    -webkit-animation: animate-bao 1s linear 0s 1 forwards,
        swing-bao 0.5s linear 1s infinite alternate none;
    animation: animate-bao 1s linear 0s 1 forwards,
        swing-bao 0.5s linear 1s infinite alternate none;
}
@-webkit-keyframes animate-bao {
    0% {
        transform: scale(3, 3);
        -webkit-transform: scale(3, 3);
        opacity: 0.1;
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}
@-webkit-keyframes swing-bao {
    0% {
        transform: translate(10px, 10px);
        -webkit-transform: translate(10, 10px);
    }
    100% {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
    }
}
.module-guide.show .text-ba {
    -webkit-animation: animate-ba 1s linear 0s 1 forwards,
        swing-ba 0.5s linear 1s infinite alternate none;
    animation: animate-ba 1s linear 0s 1 forwards,
        swing-ba 0.5s linear 1s infinite alternate none;
}
@-webkit-keyframes animate-ba {
    0% {
        transform: translate(0, 400px);
        -webkit-transform: translate(0, 400px);
        opacity: 0.1;
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}
@-webkit-keyframes swing-ba {
    0% {
        transform: translate(0px, 10px);
        -webkit-transform: translate(0, 10px);
    }
    100% {
        transform: translate(10px, 0px);
        -webkit-transform: translate(10px, 0px);
    }
}
.module-guide.show .text-tuanyuan {
    -webkit-animation: animate-tuanyuan 0.2s linear 1s 1 forwards;
    animation: animate-tuanyuan 0.2s linear 1s 1 forwards;
}
@-webkit-keyframes animate-tuanyuan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes swing {
    0% {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0, 0px);
    }
    100% {
        transform: translate(10px, 10px);
        -webkit-transform: translate(10px, 10px);
    }
}
.module-guide .arrow-up {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    bottom: 10px;
    width: 44px;
    height: 34px;
    background: url(../img/arrow-up.png) no-repeat center center transparent;
}



.module-prologue {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
    display: none;
}
.module-prologue.show {
    display: block;
}
.module-prologue .text-1 {
    opacity: 0;
    position: absolute;
    left: 271px;
    top: 400px;
}
.module-prologue .text-2 {
    opacity: 0;
    position: absolute;
    left: 162px;
    top: 464px;
}
.module-prologue .text-3 {
    opacity: 0;
    position: absolute;
    left: 132px;
    top: 522px;
}
.module-prologue .text-4 {
    opacity: 0;
    position: absolute;
    left: 73px;
    top: 585px;
}

.module-prologue.show .text-1 {
    -webkit-animation: prologue-fade-in 1s linear 0s 1 forwards;
    animation: prologue-fade-in 1s linear 0s 1 forwards;
    /*opacity: 1;
    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;*/
    
}
.module-prologue.show .text-2 {
    -webkit-animation: prologue-fade-in 1s linear 1s 1 forwards;
    animation: prologue-fade-in 1s linear 1s 1 forwards;
    /*opacity: 1;
    -webkit-transition: all 1s linear 1s;
    transition: all 1s linear 1s;*/
}
.module-prologue.show .text-3 {
    -webkit-animation: prologue-fade-in 1s linear 2s 1 forwards;
    animation: prologue-fade-in 1s linear 2s 1 forwards;
    /*opacity: 1;
    -webkit-transition: all 1s linear 2s;
    transition: all 1s linear 2s;*/
}
.module-prologue.show .text-4 {
    -webkit-animation: prologue-fade-in 1s linear 3s 1 forwards;
    animation: prologue-fade-in 1s linear 3s 1 forwards;
    /*opacity: 1;
    -webkit-transition: all 1s linear 3s;
    transition: all 1s linear 3s;*/
}

@-webkit-keyframes prologue-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes prologue-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.module-beauty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.module-beauty.show {
    display: block;
}
.module-beauty .text {
    position: absolute;
    left: 85px;
    top: 111px;
}
.module-beauty.show .text {
    -webkit-animation: beauty-text-show 1s linear 0s 1 forwards;
    animation: beauty-text-show 1s linear 0s 1 forwards;
}
@-webkit-keyframes beauty-text-show {
    0% {
        opacity: 0;
        transform: translate(0px, 400px);
        -webkit-transform: translate(0, 400px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0, 0px);
    }
}
.module-beauty .beauty {
    position: absolute;
    left: 66px;
    top: 305px;
}
.module-beauty.show .beauty {
    -webkit-animation: beauty-show 1s linear 0s infinite alternate none;
    animation:  beauty-show 1s linear 0s infinite alternate none;
}
@-webkit-keyframes beauty-show {
    0% {
        transform: translate(0px, 10px);
        -webkit-transform: translate(0, 10px);
    }
    100% {
        transform: translate(0px, -10px);
        -webkit-transform: translate(0, -10px);
    }
}
.module-beauty .wrapper-btn {
    position: absolute;
    width: 100%;
    left: 0;
    /*top: 952px;*/
    bottom: 10px;
    text-align: center;
}
.module-beauty .wrapper-btn .btn-help {
    display: inline-block;
    vertical-align: top;
    width: 470px;
    height: 99px;
    background: url(../img/btn-help.png) no-repeat center top transparent;
}



.module-cakes {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}
.module-cakes.show {
    display: block;
}
.module-cakes #wrapper-scroller {
    position: relative;
    width: 100%;
    height: 770px;
    overflow: hidden;
    left: 0;
    /*margin-top: 172px;*/
    margin-top: 122px;
}
.module-cakes #wrapper-scroller #scroller {
    position: absolute;
    width: 3200px;
}
.module-cakes #wrapper-scroller #scroller ul {
    width: 100%;
}
.module-cakes #wrapper-scroller #scroller ul li {
    float: left;
    width: 640px;
    text-align: center;
}
.module-cakes .arrow-left, .module-cakes .arrow-right {
    position: absolute;
    /*top: 516px;*/
    top: 466px;
    left: 25px;
    width: 39px;
    height: 69px;
    background: url(../img/arrows.png) no-repeat left center transparent;
}
.module-cakes .arrow-right {
    background-position: right center;
    left: auto;
    right: 25px;
}
.module-cakes .wrapper-btn {
    /*margin-top: 14px;*/
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.module-cakes .wrapper-btn .btn-select {
    vertical-align: top;
    display: inline-block;
    height: 99px;
    width: 470px;
    background: url(../img/btn-select.png) no-repeat center center transparent;
}
.module-cakes .left-bar,
.module-cakes .right-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 98px;
    z-index: 100;
}
.module-cakes .right-bar {
    left: auto;
    right: 0;
}


.module-detail {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}
.module-detail.show {
    display: block;
}
.module-detail .wrapper-eat {
    z-index: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    /*top: 153px;*/
    top: 123px;
}
.module-detail.show .wrapper-eat img {
    -webkit-animation: slide-down-fade-in 1s linear 0s 1 alternate none;
    animation: slide-down-fade-in 1s linear 0s 1 alternate none;
}
@-webkit-keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        transform: translate(0px, -200px);
        -webkit-transform: translate(0, -200px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0, 0px);
    }
}
@keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        transform: translate(0px, -200px);
        -webkit-transform: translate(0, -200px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        -webkit-transform: translate(0, 0px);
    }
}
.module-detail .wrapper-result {
    z-index: 1;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    /*top: 215px;*/
    top: 170px;
}
.module-detail .wrapper-result img {
    opacity: 0;
}
.module-detail.show .wrapper-result img {
    -webkit-animation: result-scale 1s linear 1.5s 1 alternate forwards;
    animation: result-scale 1s linear 1.5s 1 alternate forwards;
}
@-webkit-keyframes result-scale {
    0% {
        opacity: 0;
        transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}
@keyframes result-scale {
    0% {
        opacity: 0;
        transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}

.module-detail .wrapper-detail {
    opacity: 0;
    position: absolute;
    /*top: 353px;*/
    top: 300px;
    left: 109px;
    width: 422px;
    height: 631px;
    background: url(../img/bg-preview.png) no-repeat center top transparent;
}
.module-detail.show .wrapper-detail {
    -webkit-animation: cake-detail-animate 1s linear 2.5s 1 alternate forwards;
    animation: cake-detail-animate 1s linear 2.5s 1 alternate forwards;
}
@-webkit-keyframes cake-detail-animate {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
        -webkit-transform: translate(0, 100px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
}
@keyframes cake-detail-animate {
    0% {
        opacity: 0;
        transform: translate(0, 100px);
        -webkit-transform: translate(0, 100px);
    }
    100% {
        opacity: 1;
        transform: transform(0, 0);
        -webkit-transform: transform(0, 0);
    }
}

.module-detail .light {
    opacity: 0;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 176px;
    width: 640px;
    height: 771px;
    background: url(../img/light.png) no-repeat center top transparent;
}
.module-detail.show .light {
    -webkit-animation: light-animate 1s linear 2.5s 1 alternate forwards;
    animation: light-animate 1s linear 2.5s 1 alternate forwards;
}
@-webkit-keyframes light-animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes light-animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.module-detail .wrapper-detail .circle {
    left: 50%;
    top: 0;
    margin-left: -53px;
    margin-top: -53px;
    position: absolute;
    width: 106px;
    height: 106px;
}
.module-detail .wrapper-detail .ticket-text {
    padding-top: 68px;
    text-align: center;
}
.module-detail .wrapper-detail .preview-img {
    margin-top: 30px;
    height: 222px;
    text-align: center;
    overflow: hidden;
}
.module-detail .wrapper-detail .preview-img img {
    max-height: 223px;
}
.module-detail .wrapper-detail .title {
    line-height: 1;
    font-size: 24px;
    color: #bc8b0a;
    text-align: center;
}
.module-detail .wrapper-detail .description {
    width: 380px;
    margin: 18px auto 0 auto;
    font-style: 18px;
    line-height: 26px;
    color: #bdad82;
}
.module-detail .wrapper-detail .btn-share {
    position: absolute;
    left: 50%;
    margin-left: -174px;
    top: 525px;
    width: 349px;
    height: 74px;
    background: url(../img/btn-share.png) no-repeat center center transparent;
}
.module-detail .wrapper-detail .btn-get-coupon {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -174px;
    top: 525px;
    width: 349px;
    height: 74px;
    background: url(../img/btn-get-coupon.png) no-repeat center center transparent;
}
.module-detail .wrapper-again {
    position: absolute;
    left: 178px;
    /*top: 1032px;*/
    bottom: 10px;
    width: 271px;
    height: 35px;
    background: url(../img/again.png) no-repeat center top transparent;
}


.module-share-guide {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: url(../img/guide-share.png) no-repeat 134px 97px rgba(0, 0, 0, 0.5);
    display: none;
}


.module-get-coupon-success {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.module-get-coupon-success .wrapper-success {
    height: 339px;
    width: 434px;
    position: absolute;
    left: 102px;
    top: 386px;
    background: url(../img/success.png) no-repeat left top transparent;
}
.module-get-coupon-success .wrapper-success .btn-close {
    width: 82px;
    height: 82px;
    background: url(../img/btn-close.png) no-repeat center center transparent;
    position: absolute;
    top: -20px;
    right: -12px;
}
.module-get-coupon-success .wrapper-success .btn-use {
    position: absolute;
    width: 360px;
    height: 77px;
    background: url(../img/btn-use.png) no-repeat center center transparent;
    top: 214px;
    left: 38px;
}


.module-get-coupon-fail {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.module-get-coupon-fail .wrapper-fail {
    height: 339px;
    width: 434px;
    position: absolute;
    left: 102px;
    top: 386px;
    background: url(../img/fail.png) no-repeat left top transparent;
}
.module-get-coupon-fail .wrapper-fail .btn-close {
    width: 82px;
    height: 82px;
    background: url(../img/btn-close.png) no-repeat center center transparent;
    position: absolute;
    top: -20px;
    right: -12px;
}
.module-get-coupon-fail .wrapper-fail .btn-browser {
    display: block;
    position: absolute;
    width: 360px;
    height: 77px;
    background: url(../img/btn-browser.png) no-repeat center center transparent;
    top: 214px;
    left: 38px;
}


.module-cover {
    text-align: center;
    display: none;
}
.module-cover .wrapper-cover {
    /*margin-top: 168px;*/
    margin-top: 150px;
}






